

  <div data-role="main" class="ui-content">
    <h2>Search Users</h2>
    <form class="ui-filterable">
      <input id="myFilter" data-type="search">
    </form>
    <ul data-role="listview" data-filter="true" data-input="#myFilter" data-autodividers="true" data-inset="true">

<% @users.each do |u| %>
<li><%= link_to u.username, user_path(u) %></li>
<% end %>
</ul>
</div>
