<%= render 'layouts/navbar' %>
<%= @user.name %>
<div>User Image</div>

<div>Add New Event</div>
<!-- #Send to another page -->


<ul>
<li>Account Info</li>
<li>Friends</li>
<li>Attending Shows List</li>
</ul>
<!-- Render partials -->