<%= render 'layouts/navbar' %>
<%= @user.name %>
<div>User Image</div>


  <div data-role="main" class="ui-content">
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" class="ui-btn">Account</a>
      <a href="#" class="ui-btn">Attending</a>
      <a href="#" class="ui-btn">Friends</a>
    </div><br>
  </div>



<!-- Render partials -->