<%= render 'layouts/navbar' %>

<%= content_tag :div, class: "show_class", data: {show: @show} do %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3><%= @show.showdate %></h3>
      <h1><%= @show.title %></h1>      
    </div>
    <div class="col-xs-6">
      
    </div>
  </div>
</div>


<div class="container text-center">
  <div id="googleMap" style="width:90%;height:300px;" class="text-center"></div>
</div>



<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDtCLjcgQRgYbZTweBbL8Hz3amT8HsbS1Y"></script>

<script>
// INITIALIZE MAP
  var myCenter = new google.maps.LatLng(($('.show_class').data('show').latitude),($('.show_class').data('show').longitude));
  function initialize(){
    var mapProp = {
      center:myCenter,
      zoom:13,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({
      position:myCenter,
    });
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>